<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.cms.entity.User">
        <result column="userName" property="userName" jdbcType="VARCHAR"/>
        <result column="passWord" property="passWord" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    userName, passWord
    </sql>

    <select id="getSelectByUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where 1 = 1
        and userName = #{userName}
        and passWord = #{passWord}
    </select>

</mapper>